body {
  margin: 0;
}

iframe {
  border: none;
}

fieldset {
  border: none;
}

input {
  display: inline;
  padding: 10px;
  margin: 5px;
}

#modal {
  text-align: center;
}

.pillow {
  height: 4vw;
}

.bottom_separator {
  border-bottom: 5px solid #1c366d;
}

.red_background {
  background-color: #d22261 !important;
}

.darkblue_background {
  background-color: #1c366d !important;
}

.grey_background {
  background-color: white;
}

h1 {
  margin-top: 0px;
  text-align: center;
}

.blue_text {
  color: #0062ff;
  display: inline;
}

.black_text {
  color: #000000;
  display: inline;
}

.single_text_middle {
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2vw;
  width: 60vw;
}

#coding-school_bg {
  background-image: url("./img/montage-developer-web.webp");
  height: 640px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.text_coding-school {
  text-align: left;
  width: 30%;
  font-size: 25px;
  padding-left: 10vw;
}

h2 {
  text-align: center;
}

form {
  padding-bottom: 20px;
}

header {
  background-color: white;
}

.accueil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0062ff;
}

.accueil-text {
  margin: auto;
}

.contactbox {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  background-color: #333333;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-content {
  color: #ffffff;
}

.form_container {
  background-color: #0062ff;
}

footer div p a {
  text-decoration: none;
}

footer div a {
  color: white;
}

.footer-image-container {
  margin: auto;
}

#JPOimage {
  max-width: 35vw;
}

.iconbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 15px;
  flex-wrap: wrap;
}

.iconbar_element {
  min-width: 18vw;
  max-width: 50vw;
}

.iconbar_image {
  float: left;
}

.iconbar_title {
  text-align: center;
  margin: auto;
}

.iconbar_text {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 15px;
}

.button {
  background-color: #0062ff;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  border-radius: 15%;
}

.button:hover {
  background-color: #1c366d;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

@media screen and (max-width: 600px) {
  header img {
    max-width: 80vw;
  }

  .single_text_middle {
    font-size: 4vw;
  }

  .video_text {
    text-align: center;
  }

  .footer-image {
    width: 85vw;
  }

  #JPOimage {
    max-width: 75vw;
  }

  nav a {
    font-size: 6vw;
  }

  .image_medium {
    width: 70vw;
    object-fit: contain;
    border-radius: 25%;
  }

  .footer-content {
    width: 45vw;
    padding-left: 15px;
  }

  .accueil-text {
    width: 80vw;
  }

  .centered_image_container {
    margin: auto;
  }

  .accueil-image {
    width: 80vw;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form_submit {
    padding-left: 55vw;
  }

  .p_text_low_padding {
    margin-top: -3vh;
    margin-bottom: -2vh;
    font-size: 16px;
    text-align: center;
  }

  .dual_text_section {
    background-color: #0062ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .side_by_side_text {
    width: 70vw;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: #0062ff;
  }

  .certification_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .certification {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 10px solid #1c366d;
    background-color: #1c366d;
    border-radius: 15%;
    color: white;
  }

  .certification_image {
    width: 40vw;
    object-fit: contain;
  }

  .certification_text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }

  .certification_container_vert {
    display: flex;
    flex-direction: column;
  }

  .video {
    width: 80vw;
  }

  .certification_vert {
    padding-bottom: 15px;
    text-align: center;
  }

  .iconbar_element {
    min-width: 40vw;
  }

  .text_coding-school {
    font-size: 4vw;
    width: 50vw;
  }

  .text_medium {
    margin: auto;
  }

  .vert_spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  textarea {
    width: 75vw;
    margin: auto;
  }

  .form_container {
    display: flex;
    flex-direction: column;
  }

  form {
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  header img {
    max-width: 35vw;
    float: left;
  }

  .footer-image {
    width: 25vw;
  }

  #JPOimage {
    max-width: 35vw;
  }

  nav a {
    text-align: center;
    font-size: 2vw;
    height: 100%;
  }

  .wrap-top-banner {
    display: flex;
    text-align: center;
    align-items: center;
  }

  footer div {
    width: 32vw;
  }

  .accueil-text {
    font-size: 2vw;
    width: 40vw;
  }

  .accueil-image {
    width: 50vw;
  }
  #form_submit {
    text-align: center;
  }
  .form_container {
    text-align: center;
  }

  form {
    font-size: 4vh;
  }

  .p_text_low_padding {
    margin-top: -3vh;
    margin-bottom: -1vh;
    font-size: 3vh;
  }

  .dual_text_section {
    background-color: #0062ff;
    display: flex;
    justify-content: center;
  }

  .side_by_side_text {
    flex-direction: row;
    width: 35vw;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 2vw;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: #0062ff;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    background-color: #1c366d;
  }

  .certification_container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(246, 246, 246);
  }

  .certification {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .video {
    width: 350px;
  }

  .certification_image {
    width: 200px;
    object-fit: contain;
  }

  .certification_text {
    width: 25vw;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    font-size: 1.5vw;
  }

  .certification_vert {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .certification_container_vert {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f6f6f6;
  }

  .side_title {
    padding-top: 5vw;
    font-size: 3vw;
    color: white;
    width: 40vw;
  }

  .image_medium_container {
    margin: auto;
  }

  .image_medium {
    width: 20vw;
    object-fit: contain;
    border-radius: 25%;
  }

  .text_medium {
    width: 45vw;
    color: white;
    border: none;
  }

  .vert_spacing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35vw;
  }

  .video_medium {
    width: 30vw;
  }
}
