body {
  margin: 0;
}

form {
  /* background-color: #0062ff; */
  /* padding-top: 0px; */
  padding-bottom: 20px;
}

header {
  background-color: white;
}
/* .p_text_low_padding {
  margin-top: -15px;
  margin-bottom: -5px;
  font-size: ;
  background-color: brown;
} */
.accueil {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0062ff;
  justify-content: center;
}

.accueil-text {
  margin: auto;
}

/* .accueil-image {
  margin: auto;
} */

.contactbox {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  background-color: #333333;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-content {
  color: #ffffff;
}

.form_container {
  background-color: #0062ff;
}

footer div p a {
  /* list-style-type: none; */
  text-decoration: none;
}

footer div a {
  color: white;
}

.footer-image-container {
  margin: auto;
}

#JPOimage {
  max-width: 35vw;
}

@media screen and (max-width: 600px) {
  header img {
    max-width: 80vw;
    /* float: left; */
  }

  .footer-image {
    width: 85vw;
  }

  #JPOimage {
    max-width: 75vw;
  }

  nav a {
    font-size: 6vw;
  }

  .footer-content {
    width: 45vw;
  }

  .accueil-text {
    width: 80vw;
  }

  .accueil-image {
    width: 80vw;
    /* justify-content: center; */
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form_submit {
    padding-left: 55vw;
  }

  .p_text_low_padding {
    margin-top: -3vh;
    margin-bottom: -1vh;
    font-size: 14px;
    /* background-color: brown; */
  }
}

@media screen and (min-width: 600px) {
  header img {
    max-width: 35vw;
    float: left;
  }

  .footer-image {
    width: 25vw;
  }

  #JPOimage {
    max-width: 35vw;
  }

  nav a {
    text-align: center;
    font-size: 2vw;
    height: 100%;
  }

  .wrap-top-banner {
    display: flex;
    text-align: center;
    align-items: center;
  }

  footer div {
    width: 32vw;
  }

  /* section div {
    font-size: 4vw;
  } */

  .accueil-text {
    font-size: 2vw;
    width: 40vw;
    /* margin: auto; */
  }

  .accueil-image {
    width: 50vw;
  }
  #form_submit {
    text-align: center;
  }
  .form_container {
    text-align: center;
  }
  .form_contact {
    /* text-align:; */
  }
  form {
    /* font-size: 2vw; */
    font-size: 4vh;
  }
  /* 
  .form_identity
  {
    background-color: brown;
  
  } */

  .p_text_low_padding {
    margin-top: -3vh;
    margin-bottom: -1vh;
    font-size: 3vh;
    /* background-color: brown; */
  }
}
