/* <!-- le bleu de laplateforme 0062ff -->  */

/* header {
  background-color: tomato;
  display: flex;
  flex-direction: row;
} */
details {
  display: flex;
  flex-direction: column;
}

header img {
  background-color: blueviolet;
  /* float: left; */
  /* display: flex;
  flex-direction: row; */
  /* flex-wrap: wrap; */
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: chartreuse;
}
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

#JPOimage {
  max-width: 35vw;
}

@media screen and (max-width: 600px) {
  header img {
    max-width: 80vw;
    /* float: left; */
  }
}

@media screen and (min-width: 600px) {
  header img {
    max-width: 35vw;
    float: left;
  }

  nav {
    /* display: inline; */
  }
}
