.Johan {
  border-width: 10px;
  border-color: black;
  border-style: solid;
}
.Karim {
  border-width: 10px;
  border-color: black;
  border-style: solid;
}
.Rayen {
  border-width: 10px;
  border-color: black;
  border-style: solid;
  background-color: white;
}
.Groupe {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

body {
  background-color: orange;
}

@media screen and (max-width: 600px) {
  .Groupe {
    flex-direction: column;
  }
}

div span {
  text-align: center;
}
