html {
display: flex;
padding: 0;
background-color: #89b0bc;
font-family: Arial, Helvetica, sans-serif;
color: black;
}

h1{
    font-size: 40px;
font-weight:lighter;}

ul{
    font-weight: bold;
    list-style: none;
 margin-top: 30px;}
img {
          max-width: 25vw;
          border-width: 5px;
          border-color: black;
          border-style: solid;
        }
.emoji{
font-size:xx-small;
text-align: right;
margin: left ;
margin-bottom: 0;
display:block
}
 


