body {
  background-color: rgb(6, 83, 226);
}

a {
  font-size: 32px;
  color: black;
}

p {
  margin-top: -5px;
}

img {
  border-color: black;
  border-style: solid;
}

.textbox {
  display: inline;
  float: left;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  margin: 10px;
}

@media screen and (min-width: 600px) {
  img {
    max-width: 35vw;
    border-width: 10px;
  }

  .textbox {
    height: 150px;
    width: 200px;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  img {
    max-width: 25vw;
    border-width: 5px;
  }

  .textbox {
    height: 100px;
    width: 150px;
    font-size: 15px;
  }
}
